@font-face {
    font-family: "AeonikPro-Bold";
    src:url("../font/AeonikProTRIAL-Bold.otf") format("opentype")
}
@font-face {
    font-family: "AeonikPro-Light";
    src:url("../font/AeonikProTRIAL-Light.otf") format("opentype")
}
@font-face {
    font-family: "AeonikPro-Regular";
    src:url("../font/AeonikProTRIAL-Regular.otf") format("opentype")
}

body{
    margin: 0;
    padding: 0;
    background: #F3F5F9;
    color: #0E1118;
    font-family: "AeonikPro-Regular", sans-serif;
}
a{
    text-decoration: none;
}
div{
    box-sizing: border-box;
}
.f-column{
    flex-direction: column;
}
.df{
    display: flex;
}
.dn{
    display: none;
}
.pr{
    position: relative;
}
.pa{
    position: absolute;
}
.j-center{
    justify-content: center;
}
.j-btw{
    justify-content: space-between;
}

.a-center{
    align-items: center;
}

.f-wrap{
    flex-wrap: wrap;
}
.j-end{
    justify-content: flex-end;
}
.fw{
    width: 100%;
}
header{
    padding-top: 96px;
}
nav{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border-radius: 32px;
    padding: 32px 36px;
    box-sizing: border-box;
    margin-bottom: 68px;
}

.nav-logo a{
    color: #0E1118;
    font-size: 22px;
    line-height: 24px;
    gap: 10px;
    font-family: "AeonikPro-Bold",sans-serif;

}

.menu{
    list-style: none;
    gap: 48px;
    margin: 0;
}
.menu-item a{
    color: #0E1118;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-item a span{
    display: block;
    background: url('../img/arrow-down.svg') no-repeat;
    width: 12px;
    height: 12px;
}
.lang{
    list-style: none;
    margin: 0;
}

.lang-item a{
    color: #0E1118;
    opacity: 0.4;
}
.lang-item:first-child{
    border-right: 1px solid  rgba(14, 17, 24, 0.2);
;
    padding-right: 15px;

}
.lang-item:last-child{
    padding-left: 15px;

}
.lang-item-active a{
    color: #0E1118;
    opacity: 1;
}

section {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

}
h1,h2,h4,p{
    padding: 0;
    margin: 0;
}


.banner-title{
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 20px;
}
.banner-text{
    padding: 0;
    color: #81818D;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 48px;
    max-width: 838px;
}

.btn-blue{
    background: #1D2CBB;
    border-radius: 16px;
    color: #FCFDFF;
    padding: 32px 96px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    font-size: 18px;
}

.line{
    margin-top: 157px;
    border: 1px solid #9F9FAE4D;
    height: 1px;
    width: 100%;
    margin-bottom: 93px;
    position: relative;
}

.line:before{
    content: '';
    position: absolute;
    background: url('../img/line-icon.svg');
    left: 50%;
    top: -7px  ;
    width: 16px;
    height: 16px;
}

.service-content{
    gap: 16px;
}
.service-item{
    width: calc(100%/2 - 16px);
    border-radius: 32px;
    background: #152296;
    height: 500px;
    padding: 48px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.projects .service-title{
    min-height: auto;
}
.working-item-left h4   {
    font-size: 24px;
    margin-bottom: 6px;
}
.projects .working-item-left{
    display: flex;
    flex-direction: column;
}

.projects .working-desc{
    font-size: 14px;
    max-width: 300px;
    margin-bottom: 22px;
}

.projects .working-item-left span{
    color: #152296;
    font-size: 14px;
    margin-top: auto;
    display: flex;
}
.projects-cols .working-list-projects .working-item{
    width: calc(100% /3 - 32px);
}
.projects .working-desc{
    max-width: 330px;
}
.service-item img{
    /*margin-top: auto;*/
}
.deals{
    padding: 0;
    max-width: 100%;
}
.service-title{
    color: #fff;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 42px;
text-align: left;
    min-height: 114px;
}

.section-title{
    font-size: 48px;
    line-height: 57px;
    margin-bottom: 67px;
}

.product-list{
    gap: 10px;
}
.product{
    width: calc(100%/2 - 10px);
    border-radius: 22px;
    background: #FCFDFF;
    padding: 32px;
    display: flex;
    flex-direction: column;

}
.product-title{
    gap: 125px;
    padding-right: 75px;
    min-height: 128px;
}
.product-title h4{
    font-size: 24px;
    margin-bottom: 16px;
}

.product-title p{
    color: #9F9FAE;
    font-size: 14px;
    line-height: 16px;
}

.product .line{
    margin-top: 29px;
    margin-bottom: 36px;
}

.product-desc > div{
    width: calc(100% / 3 - 32px);
}
.product-desc{
    gap: 16px;
}

.product-desc p:first-child{
    font-size: 18px;
    color:#0E1118 ;
    margin-bottom: 4px;
}
.product-desc p{
    font-size: 14px;
    color:#9F9FAE ;
    margin-bottom: 24px;

}

.read-more{
    margin-top:auto;
    color: #1D2CBB;
    font-size: 18px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.working-item{
    background: #FCFDFF;
    border-radius: 32px;
    padding: 48px 32px;
    margin-bottom: 16px;
}

.step{
    width: 48px;
    height: 48px;
    background: #152296;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #FCFDFF;
    margin-bottom: 20px;
}

.working-desc{
    max-width: 768px;
    color: #9F9FAE;
    font-size: 20px;
    line-height: 24px;
}
.working-item-right div:last-child img:last-child{
    margin-left: 33px;
}
.working-item-right div:last-child img:first-child{
    margin-right: 11px;
}

.working-info-item{
    gap: 38px;
    font-size: 24px;
    margin-left: 38px;
    margin-top: 38px;
}

.mechanism-item{
    border-radius: 32px;
    background: #FCFDFF;
    position: relative;
    padding: 96px 212px 96px 96px;
    margin-bottom: 48px;
}
.mechanism-item:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/setka.png');
    top: 0;
    left: 0;
    z-index: 0;

}

.mechanism-left h4{
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 26px;
}

.mechanism-item ul {
    max-width: 700px;

}

.mechanism-item ul li{
    font-size: 20px;
    color: #81818D;
    margin-bottom: 20px;
}

.features-list{
    gap: 16px;
}
.feature-item{
    width: calc(100%/3 - 16px);
    border: 1px solid #8995FF;
    border-radius: 32px;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 43px 32px;
    min-height: 358px;
}
.feature-item img{
    margin-bottom: 20px;
}
.feature-item h4{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
.working-list-projects{
    gap: 16px;
}

.working-list-projects .working-item{
    width: calc(100% / 2 - 16px);
    margin-bottom: 0;
}
.others-list{
    gap: 16px;
}

.other-item{
    width: calc(100%/ 2 - 16px);
    border: 1px solid #8995FF;
    background: #FFFFFF;
    border-radius: 32px;
    padding: 45px;
    min-height: 274px;
    flex-direction: column;
}

.other-item.fw{
    width: 100%;
}

.other-item img{
    margin-bottom: 24px;
}
.other-item h4{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
    text-align: center;
}
.other-item p{
    color: #81818D;
    font-size: 14px;
    line-height: 16px;
    max-width: 598px;
    text-align: center;
}

.contact-form{
    flex-direction: column;
    background: #FCFDFF;
    border-radius: 32px;
    padding: 32px;
    max-width: 712px;
    width: 100%;
    margin: 0 auto 200px;

}

.contact-form h1{
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 32px;
}

.contact-form form{
    width: 100%;
    text-align: center;
}
.contact-form .form-control{
    width: 100%;
}
.contact-form input{
    width: 100%;
    background: #E6E8F066;
    border-radius: 12px;
    padding: 24px 32px;
    box-sizing: border-box;
    border: none;
    color:  #9F9FAE;
    font-size: 18px;
    margin-bottom: 16px;
    font-family: "AeonikPro-Regular", sans-serif;

}

.contact-form textarea{
    width: 100%;
    resize: none;
    background: #E6E8F066;
    border-radius: 12px;
    padding: 24px 32px;
    box-sizing: border-box;
    border: none;
    color:  #9F9FAE;
    font-size: 18px;
    margin-bottom: 32px;
    font-family: "AeonikPro-Regular", sans-serif;

}

.contact-form .btn-blue{
    width: 219px;
    font-size: 18px;
    padding: 24px 64px;
}
.working-item-right div:first-child img{
    margin-right: 30px;
}
.deals .section-title{
    text-align: center;
}

.deals .product{
    width: 715px;
}



.deals .product-title h4{
    margin-bottom: 24px;
}
.deals .product-title >div{
    display: flex;
    flex-direction: column;
}
.deals .product-title .read-more{
    margin-top: auto;
}
.deals .product-desc img{
    max-width: 100%;
    width: auto!important;
}

.deals .product-desc >div p:last-child{
    margin-bottom: 0;
}
.deals .product-desc >div{
    background: #E6E8F033;
    padding: 12px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.deals .product-title{
    max-width: 500px;
}
.projects .service-title{
    min-height: auto;
}

.feature-item-fw{
    width: calc(100%/2 - 16px);
}
.carousel-cell{
    margin-left: 8px;
    margin-right: 8px;
}
.feature-item-fw  h4{
    max-width: 405px;
}
footer.projects{
    margin-top: 93px;
}